main{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    gap: 12px;
}

main .upper-container{
    flex: 3;
    display: flex;
    gap: 12px;
}
@media (max-width: 968px){
    main .upper-container{
        flex-direction: column;
    }
}

main .upper-container aside{
    flex: 4;
    background-color: rgb(205, 225, 255);
    border-radius: 12px;
    max-height: calc(100vh - 112px);
    height: calc(100vh - 112px);
    overflow-y: auto;
    min-width: 350px;

    & > button {
        margin: 12px auto;
    }
}
@media (max-width: 968px){
    main .upper-container aside{
        min-height: 400px;
        min-width: 0;
        max-height: none;
        height: auto;
    }
}
main .upper-container aside .header-info{
    display: flex;
    justify-content: center;
    padding: 0 8px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.126);
    border-radius: 12px 0 0 0;
}

main .upper-container aside .client-info{
    padding: 8px 16px;
    display: flex;
    gap: 12px;
    flex-direction: column;

    & > h2{
        font-size: 24px;
        font-weight: 600;
        margin: 0 auto;
        text-transform: uppercase;
        color: #000;
    }
}
main .upper-container aside .client-info .div-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > h1{
        font-weight: 600;
    }
    & > h2{
        font-size: 14px;
        color: #0009;
    }
}

main .upper-container aside .vehicle-info{
    padding: 8px 16px;
    display: flex;
    gap: 12px;
    flex-direction: column;

    & > h2{
        font-size: 24px;
        font-weight: 600;
        margin: 0 auto;
        text-transform: uppercase;
        color: #000;
    }
}
main .upper-container aside .vehicle-info .div-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > h1{
        font-weight: 600;
    }
    & > h2{
        font-size: 14px;
        color: #0009;
    }
}




main .upper-container .chatbot{
    flex: 8;
    background-color: rgb(99, 179, 245);
    border-radius: 12px;
    max-height: calc(100vh - 112px);
}
@media (max-width: 968px){
    main .upper-container .chatbot{
        min-height: 400px;
        max-height: none;
    }
}
main .upper-container .chatbot .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(99, 179, 245);
    color: #fff;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    border-radius: 12px;
    padding: 32px;

    & > form{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 8px;
    }
}

main .upper-container .chatbot .container .infos{
    display: flex;
    align-items: center;
    gap: 8px;
    
    & > h1{
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
    };

    & > h2 {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
    };
}
@media (max-width: 500px){
    main .upper-container .chatbot .container .infos{
        flex-direction: column;
        align-items: flex-start;
    }
}

main .upper-container .chatbot .container .divButton{
    display: flex;
    gap: 12px;
    justify-content: center;
}
@media (max-width: 500px){
    main .upper-container .chatbot .container .divButton{
        flex-direction: column;
    }
}

main .modal_update form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
    max-height: 350px;
    overflow-y: auto;
}

main .modal_confirmar{
    background-color: rgb(99, 179, 245);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 48px;
}

.title_vehicle_step1{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container_info_step1{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
}
@media (max-width: 500px){
    .container_info_step1{
        padding: 0;
    }
}

.title_medidas_step1{
    font-size: 18px;
    margin-top: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container_info_step3{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
    border: 1px solid #ffffff3f;
    border-radius: 8px;
}
@media (max-width: 500px){
    .container_info_step1{
        padding: 0;
    }
}


.form_chamada{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
}
@media (max-width: 600px){
    .form_chamada{
        width: 100%;
        padding: 0;
    }
}